@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome GamesGlobal Team</h1>
    <p>In the menu burger on top you can select Information. This will give more details around tech and stack used.</a>.</p>
</div>
